<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#books}}
<article>
  <img src="{{book_image}}" alt="{{title}} cover image" />
  <p>{{title}}</p>
  <p>{{author}}</p>
  <p>{{bestsellers_date}}</p>
</article>

{{/books}}
